
/* lesson 4 styles*/
.red-hello-btn {
  font-size: 16px;
  border: none; 
  background-color: rgb(202, 46, 46);
  color: white;
  padding: 4px 10px;
  border-radius: 10px;
}
.yellow-hello-btn,
.click-btn {
   font-size: 16px;
    border: none; 
    background-color: rgb(202, 179, 46);
    color: white;
    padding: 4px 10px;
    margin: 0 4px;
    border-radius: 10px;
    transition: background-color 0.15s;

}

.click-btn:hover {
  background-color: rgb(184, 163, 46);
}

.lesson4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* challenge 4 */ 
.challenge4-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.challenge4 p {
  font-weight: 500;
}

.add-cart-btn {
  background-color: rgb(238, 198, 19);
  border: 2px solid black;
}

.buy-now-btn {
  background-color: rgb(223, 80, 14);
  border: 2px solid black;
}

.add-cart-btn,
.buy-now-btn {
  border-radius: 5px;
  padding: 4px 10px;
}

/* General styles*/

body {
  font-family: Montserrat, Arial;
}

button {
  font-family: Montserrat, Arial;
  cursor: pointer;
}

div {
  margin: 4px 0;
}